/publish
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle
gradle.properties
build/
local.properties
Thumbs.db
.DS_Store
.classpath
.project
proguard/
*.log
.navigation
captures/
*.iws
.idea
*.iml
*.keystore
*.jks
.externalNativeBuild
import-summary.txt